{% extends 'base.html' %}

{% block cards1 %}

<div class="card">
  <h5 class="card-header">Фидер {{ feeder.name }}
      <a href="{{ feeder.substation.get_absolute_url }}" class="btn btn-outline-dark mx-auto  p-1"> <b>ПС {{ feeder.substation }}</b> </a>
  </h5>
    {% if feeder.attention %}
    <span class="badge badge-danger">Есть косяк, смотреть описание!!!</span>
    {% endif %}
  <div class="card-body">
      <a href="{{ feeder.section.get_absolute_url }}" class="btn btn-secondary p-1">
          <h6 class="card-title">{{ feeder.section }}</h6>
      </a>
      <a href="{{ feeder.subscriber.get_absolute_url }}" class="btn btn-secondary p-1">
          <h6 class="card-title">Абонент: {{ feeder.subscriber }}</h6>
      </a>

        <h6 class="bg-light px-1">
            {% for phone in feeder.subscriber.phones.all %}
                <a class="btn btn-light p-0" href="{{ phone.get_absolute_url }}"><b>{{ phone }}</b></a>,
            {% endfor %}
        </h6 >

        <hr class="p-0 m-0"  color="#00008B" >
        <hr class="p-0 m-0"  color="#00008B" >

        {% for person in feeder.subscriber.persons.all %}
          {% if person.priority == 1 %}
                <h6 class="px-0 mx-0">
                    <p class="my-0 card-header p-0"><b>{{ person }}</b> | {{person.position}} |
                    {% for phone in person.phones.all %}
                      <b>{{ phone }}</b> ,
                    {% endfor %}</p>
                </h6>
          {% endif %}
        {% endfor %}

      <div class="my-0 card-header p-0">{% for person in feeder.subscriber.persons.all %}
          {% if not person.priority or person.priority > 1 %}

                    {{ person }} {% if person.position %} ({{person.position}}) {% endif %}
                    {% for phone in person.phones.all %}
                        {{ phone }},
                    {% endfor %};

          {% endif %}
        {% endfor %}</div>

<!--          feeder_name = models.CharField(max_length=64, verbose_name='Название фидера')-->
<!--    substation_name = models.CharField(max_length=64, verbose_name='Название ПС')-->
<!--    feeder = models.OneToOneField(Feeder, related_name="character", on_delete=models.SET_NULL,-->
<!--                                  null=True, blank=True, verbose_name='фидер')-->

<!--    points = models.PositiveSmallIntegerField(blank=True, verbose_name='Точки поставки', null=True)-->

<!--    checked = models.BooleanField(verbose_name='соответствует', default=False)-->



        <div class="my-3 card-footer text-center">
            {{ feeder.character.feeder }}
            {% if feeder.character.checked %}
            <h5 class="bg-success">Проверено</h5>
            {% else %}
            <h5 class="bg-warning">Нужно проверить</h5>
            {% endif %}
            <style type="text/css">
                table {
                    border-collapse: collapse;
                }
                table th,
                table td {
                    padding: 0 3px;
                }
                table tr  {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }

                table tr td:last-child {
                    text-align: center;
                }
                table tbody {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
            </style>
            <table class="m-auto">

                <thead>
                <tr>
                    <th>характеристики</th>
                    <th>значения</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ТП</td>
                        <td> наши : {{ feeder.character.tp_our_num }} /
                            <span class="text-secondary">чужие : {{ feeder.character.tp_alien_num }}</span></td>
                    </tr>

                    <tr>
                        <td>НП</td>
                        <td><b>{{ feeder.character.villages_num }}</b> | {{ feeder.character.villages_names }} </td>
                    </tr>

                    <tr>
                        <td>Население</td>
                        <td> {{ feeder.character.population }}</td>
                    </tr>

                    <tr>
                        <td>Точки поставки</td>
                        <td>{{ feeder.character.points }}</td>
                    </tr>
                    <tr>
                        <td>Протяженность</td>
                        <td>{{ feeder.character.length }} км</td>
                    </tr>

                    <tr>
                        <td>Социалка</td>
                        {% if feeder.character.social_num %}
                        <td><b>{{ feeder.character.social_num }} </b>| {{ feeder.character.social_names }}</td>
                        {% else %}
                        <td>Социалки нет </td>
                        {% endif %}
                    </tr>



                {% if feeder.character.power_winter %}
                <tr>
                    <td>Потребление</td>
                    <td> <span class="bg-primary">зима : {{ feeder.character.power_winter }}</span> /
                        <span class="bg-warning">лето: {{ feeder.character.power_summer }}</span> МВт</td>
                </tr>
                {% endif %}
{% comment %}
                {% if feeder.reliability_category %}
                <tr>
                    <td>Категория надежности:</td>
                    <td>{{ feeder.reliability_category }}</td>
                </tr>
                {% endif %}
{% endcomment %}
                </tbody>
            </table>
      </div>


            <div class="card-footer text-right py-0 px-5">
                <div class="btn-group dropup mx-5 px-1">
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    править БД<span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                      {% if feeder.character %}
                      <a class="dropdown-item" href="{% url 'upd_charact' feeder.pk %}">изменить характеристики</a>
                      {% else %}
                      <a class="dropdown-item" href="{% url 'add_charact' feeder.pk %}">добасить характеристики</a>
                      {% endif %}
                    <a class="dropdown-item" href="{% url 'upd_feeder' feeder.pk %}">править фидер</a>
                    <a class="dropdown-item" href="{% url 'del_feeder' feeder.pk %}">удалить</a>
                  </div>
                </div>
            </div>


        {% if feeder.description %}
            <p class="card-text">Описение: {{ feeder.description|linebreaks  }}</p>
        {% endif %}

  </div>
</div>

{% endblock %}
