{% extends 'base.html' %}

{% block cards1 %}

<div class="card">
  <h5 class="card-header">Фидер {{ feeder.name }}
      <a href="{{ feeder.substation.get_absolute_url }}" class="btn btn-outline-dark mx-auto  p-1"> <b>ПС {{ feeder.substation }}</b> </a>
  </h5>
    {% if feeder.attention %}
    <span class="badge badge-danger">Есть косяк, смотреть описание!!!</span>
    {% endif %}
  <div class="card-body">
      <a href="{{ feeder.section.get_absolute_url }}" class="btn btn-secondary p-1">
          <h6 class="card-title">{{ feeder.section }}</h6>
      </a>
      <a href="{{ feeder.subscriber.get_absolute_url }}" class="btn btn-secondary p-1">
          <h6 class="card-title">Абонент: {{ feeder.subscriber }}</h6>
      </a>

        <h6 class="bg-light px-1">
            {% for phone in feeder.subscriber.phones.all %}
                <a class="btn btn-light p-0" href="{{ phone.get_absolute_url }}"><b>{{ phone }}</b></a>,
            {% endfor %}
        </h6 >

        <hr class="p-0 m-0"  color="#00008B" >
        <hr class="p-0 m-0"  color="#00008B" >

        {% for person in feeder.subscriber.persons.all %}
          {% if person.priority == 1 %}
                <h6 class="px-0 mx-0">
                    <p class="my-0 card-header p-0"><b>{{ person }}</b> | {{person.position}} |
                    {% for phone in person.phones.all %}
                      <b>{{ phone }}</b> ,
                    {% endfor %}</p>
                </h6>
          {% endif %}
        {% endfor %}

      <div class="my-0 card-header p-0">{% for person in feeder.subscriber.persons.all %}
          {% if not person.priority or person.priority > 1 %}

                    {{ person }} {% if person.position %} ({{person.position}}) {% endif %}
                    {% for phone in person.phones.all %}
                        {{ phone }},
                    {% endfor %};

          {% endif %}
        {% endfor %}</div>

    <div class="my-3 card-footer">
        {% if feeder.subscriber.ours %}
            <h6 class="card-text">ТП: {{ feeder.number_tp }}</h6>
            <h6 class="card-text">Протяженность: {{ feeder.length }} </h6>
            <h6 class="card-text">Население: {{ feeder.population }}</h6>
            <h6 class="card-text">Социалка: {{ feeder.social }}</h6>
        {% endif %}
    </div>
        {% if feeder.reliability_category %}
            <p class="card-text">категория надежности: {{ feeder.reliability_category }}</p>
        {% endif %}

            <div class="card-footer text-right">
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    править БД<span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'upd_feeder' feeder.pk %}">изменить</a>
                    <a class="dropdown-item" href="{% url 'del_feeder' feeder.pk %}">удалить</a>
                  </div>
                </div>
            </div>


        {% if feeder.description %}
            <p class="card-text">Описение: {{ feeder.description }}</p>
        {% endif %}

  </div>
</div>

{% endblock %}
