{% extends 'base.html' %}

{% block cards1 %}

    <div class="card">
        <h5 class="card-header text-center"><span class="px-5"><b>
            {% if the_section %}
            {{ the_section.name }}
            <a class="btn btn-light p-0 py-0 m-0" href="{{ the_section.get_absolute_url }}"><h5><b>{{ the_section.substation }}</b></h5></a>
            {% elif the_substation %}
            <a class="btn btn-light p-0 py-0 m-0" href="{{ the_substation.get_absolute_url }}"><h5><b>ПС {{ the_substation }}</b></h5></a>
            {% endif %}
            | все фидеры :
        </b></span></h5>

        <div class="text-right">
            {% if the_substation %}
                <h3><a class="btn btn-outline-dark px-5 py-0 m-1" href="{% url 'subscriber_ps' the_substation.pk %}">Разбить по абонентам </a></h3>
            {% elif the_section %}
                <h3><a class="btn btn-outline-dark px-5 py-0 m-1" href="{% url 'subscriber_sec' the_section.pk %}">Разбить по абонентам </a></h3>
            {% endif %}
        </div>


    <div class="card-body">
    {% for feeder in feeders %}
          <div class="row mt-1">
            <div class="col-12 col-lg-10 offset-lg-2 m-auto">
              <div class="card mb-4">
                <div class="card-body px-4">
                  <div class="row">
                    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-center">
                        <div class="btn-group-vertical ">
                            <a href="{{ feeder.get_absolute_url }}" type="button" class="btn btn-dark">{{ feeder.name }}</a>
                            <a href="{{ feeder.subscriber.get_absolute_url }}" type="button" class="btn btn-secondary">
                                {% if feeder.subscriber.short_name %}
                                {{ feeder.subscriber.short_name }}
                                {% else %}
                                {{ feeder.subscriber.name|truncatechars:20 }}
                                {% endif %}
                            </a>
                            <a href="{{ feeder.get_absolute_url }}" type="button" class="btn btn-dark">
                                {% if feeder.attention %}
                                <span class="badge badge-danger">см. описание!!!</span>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 col-lg-9">
                        <p class="my-0">{{ feeder.subscriber.name }}</p>
                        <a href="{{ feeder.get_absolute_url }}" class="btn btn-outline-dark mx-auto  p-1">
                            <b>Фидер {{ feeder.name }}</b>
                        </a>
                        <a href="{{ feeder.section.get_absolute_url }}" class="btn btn-outline-dark mx-2  p-1">
                            <b>{{ feeder.section.name }}</b>
                        </a>
                        <a href="{{ feeder.substation.get_absolute_url }}" class="btn btn-outline-dark mx-auto p-1">
                            <b>ПС {{ feeder.substation.name }}</b>
                        </a>
                        <h6 class="bg-light px-1">
                            {% for phone in feeder.subscriber.phones.all %}
                            {{ phone }},
                            {% endfor %}
                        </h6>

                        {% for person in feeder.subscriber.persons.all %}
                            <h6 class="px-0 mx-0">
                                <p class="my-0 card-header p-1"><b>{{ person }}</b> | {{person.position}} |
                                {% for phone in person.phones.all %} {{ phone }},  {% endfor %}</p>
                            </h6>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}

    </div>
{% endblock %}
</div>
