{% extends 'base.html' %}

{% block cards1 %}
<div class="contain my-5">
<div class="card m-auto" style="width: 28rem;">
  <div class="card-body m-auto">
      <form action="" method="post">
        {% csrf_token %}
          <h5 class="card-title">Удаляем: <b>" {{ obj }} "</b> ...</h5>
        <h5 class="my-3 text-muted text-center">Не жалко?</h5>
          <div class="d-flex justify-content-around">
        <a href="{{ obj.get_absolute_url }}" class="btn btn-outline-dark">пощадить</a>
        <button type="submit" name="button" class="btn btn-outline-danger">УДАЛИТЬ</button>
          </div>
      </form>
  </div>
</div>
</div>





{% endblock %}