{% extends 'base.html' %}

{% block title %}
 {{ block.super }} | {% include 'incl/_logik_titles_form.html' %}
{% endblock %}

{% block title2 %}
<div class="contain text-center my-4">
 <h2>
  {% include 'incl/_logik_titles_form.html' %}
 </h2>
</div>
{% endblock %}


{% block cards1 %}
<div class="contain my-5">
<div class="card m-auto" style="width: 28rem;">
  <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
          <h5 class="card-title text-center">Удаляем: <br> <b> {{ obj }} </b></h5>
        <h5 class="my-3 text-muted text-center">Не жалко?</h5>
          <div class="d-flex justify-content-around">
            <a href="{{ obj.get_absolute_url }}" class="btn btn-outline-dark">пощадить</a>
            <button type="submit" name="button" class="btn btn-outline-danger">УДАЛИТЬ</button>
          </div>
      </form>
  </div>
</div>
</div>





{% endblock %}