{% extends 'base.html' %}

{% block title %}
Компания | {{ block.super }}
{% endblock %}

{% block first_section %}

<div class="contain p-3">

{% for k, v in context1.items %}

    <div class="card mx-5">
    <div class="card-header">
    </div>
    <a href="#" class="btn btn-outline-info">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h2>{{ v }}</h2>
      </blockquote>
    </div>
    </a>
  </div>

  {% endfor %}

</div>



{% endblock %}

context1 = {'title': title, 'substations': 'Подсташции', 'subscribers': 'Абоненты', 'feeders': 'Присоединения',
            'persons': 'Ответственные лица', 'sections': 'Секции', 'phones': 'Телефоны'}