{% extends 'base.html' %}

{% block title %}
{{ block.super }} | ВЛ

{% if flag_voltages %} {{ lines.0.voltage }}
{% elif flag_group %} | {{ lines.0.group }} участок
{% elif flag_region %} | Управление : {{ lines.0.management }} {% endif %}
{% endblock %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-left border-right border-dark py-0">
  <p class="navbar-brand mr-4 font-weight-bold py-0 my-0">Участки: </p>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav1">
    <ul class="navbar-nav col-10 mt-0">
        {% for group in groups %}
      <li class="nav-item">

              {% if group.get_absolute_url == request.path %}
              <a class="btn btn-dark py-0 mx-3" href="{{ group.get_absolute_url }}"><b>{{ group }}</b></a>
              {% else %}
              <a class="btn btn-light py-0 mx-3" href="{{ group.get_absolute_url }}"><b>{{ group }}</b></a>
              {% endif %}

      </li>
        {% endfor %}

    </ul>
  </div>
</nav>
{% endblock %}



{% block menu2 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark py-0">
  <p class="navbar-brand mr-4 font-weight-bold py-0 my-0">Напряжение: </p>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav2">
    <ul class="navbar-nav col-10 mt-0 ">
        {% for volt in voltages %}
              {% if volt.get_line_url == request.path %}
              <a class="btn btn-dark py-0 mx-3" href="{{ volt.get_line_url }}"><b>{{ volt }}</b></a>
              {% else %}
              <a class="btn btn-light py-0 mx-3" href="{{ volt.get_line_url }}"><b>{{ volt }}</b></a>
              {% endif %}
        {% endfor %}

    </ul>
  </div>
</nav>
{% endblock %}

{% block menu3 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-left border-right border-bottom border-dark py-0">
  <p class="navbar-brand mr-4 font-weight-bold py-0 my-0">Управление: </p>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav3">
    <ul class="navbar-nav col-10 mt-0">
        {% for region in regions %}
              {% if region.get_line_url == request.path %}
              <a class="btn btn-dark py-0 mx-3" href="{{ region.get_line_url }}"><b>{{ region }}</b></a>
              {% else %}
              <a class="btn btn-light py-0 mx-3" href="{{ region.get_line_url }}"><b>{{ region }}</b></a>
              {% endif %}
        {% endfor %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block search %}
    {% if not flag_group and not flag_voltages and not flag_region %}
        <div class="mb-4">
        {% include 'incl/_searcher_lines.html' %}

            {% if flag_search %}
                {% if lines.count > 0 %}
                    <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, и я нашел {{ substations.count }}:</h3>
                {% else %}
                    <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, но он где-то потерялся :((</h3>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block cards1 %}
    <section class="my-3 py-3">
      <div class="row mb-0 mx-2">
        {% for line in lines %}
        <div class="m-2">
        <a href="{{ line.get_absolute_url }}"

            {% if line.voltage.class_voltage == 220 %}
            class="btn btn-outline-dark py-1 border-primary"
            {% elif line.voltage.class_voltage == 110 %}
            class="btn btn-outline-dark py-1 border-warning"
            {% elif line.voltage.class_voltage == 35 %}
            class="btn btn-outline-dark py-1 border-danger"
            {% endif %}>

            {% comment %}  {% endcomment %}
            <b>{{ line.short_name }} | {{ line.name }}</b>
        </a>
         | <a href="{% url 'line_group' line.group.pk %}" class="btn btn-outline-secondary py-1" >{{ line.group }} участок сл ЛЭП </a>

         | <a href="{% url 'line_region' line.management.pk %}" class="btn btn-light py-1" > Управление : {{ line.management }}</a>

        </div>
        {% endfor %}
      </div>
    </section>

{% endblock %}

{% block paginator %}
{% include 'incl/_block_paginator_long.html' %}
{% endblock %}