{% extends 'base.html' %}



{% block cards1 %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mr-4 font-weight-bold" href="{% url 'main' %}">  1  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav col-10">
        {% for gr in view.get_groups %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main' %}">{{ gr }}</a>
      </li>
        {% endfor %}
    </ul>

  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mr-4 font-weight-bold" href="{% url 'main' %}">  1  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <form class="form-inline mb-3" action="" method="get">
    <ul class="navbar-nav col-10">

        {% for group in view.get_groups %}
      <li class="nav-item">

        <div class="form-group col-8 col-md-10 pl-0">
          <input class="checked form-control" name="group" type="checkbox" value="{{ group.pk }}">
            <span class="span editContent"> {{ group.name }} </span>
        </div>

      </li>
        {% endfor %}

    </ul>
          <button type="submit">Применить</button>
</form>
  </div>
</nav>




    <section class="my-5 py-3">
      <h2 class="h2 font-weight-normal text-center mb-5">ПС</h2>
      <div class="row mb-0">

          {% for ps in substations %}

            <div class="col-6 col-md-6 col-lg-2">
                <div class="card pt-1 text-center p-0 m-0">
                    <div class="card-body p-0 m-0">
                        <a href="#" class=" btn btn-outline-dark mx-auto d-block">
                            <p class="card-text">{{ ps.name }}</p>
                            <p class="card-text mb-1">{% include 'incl/_voltage_full.html' %}</p>
                        </a>
                    </div>
                    <div class="card-body p-0 m-0">
                        <a href="#" class=" btn btn-outline-secondary mx-auto d-block">
                            <p class="card-text">{{ ps.group }}</p>
                        </a>
                    </div>
                </div>
            </div>

          {% endfor %}

      </div>
    </section>
{% endblock %}

