{% extends 'base.html' %}



{% block cards1 %}
    <section class="my-5 py-3">
      <h2 class="h2 font-weight-normal text-center mb-5">ПС</h2>
      <div class="row mb-0">

          {% for ps in substations %}

            <div class="col-6 col-md-6 col-lg-2">
                <div class="card pt-1 text-center p-0 m-0">
                    <div class="card-body p-0 m-0">
                        <a href="#" class=" btn btn-outline-dark mx-auto d-block">
                            <p class="card-text">{{ ps.name }}</p>
                            <p class="card-text mb-1">{% include 'incl/_voltage_full.html' %}</p>
                        </a>
                    </div>
                    <div class="card-body p-0 m-0">
                        <a href="#" class=" btn btn-outline-secondary mx-auto d-block">
                            <p class="card-text">{{ ps.group }}</p>
                        </a>
                    </div>
                </div>
            </div>

          {% endfor %}

      </div>
    </section>
{% endblock %}

