{% extends 'base.html' %}

{% block cards1 %}

<div class="card text-center">
  <div class="card-header">
      <h4><b>{{ phone }}</b> {% if phone.mail %} | {{ phone.mail|urlize }} {% endif %}</h4>
  </div>
  <div class="card-body m-1 p-1">
      {% if phone.subscriber %}
      <h5 ><b>Организация:</b>
          <a class="btn btn-secondary p-1" href="{{ phone.subscriber.get_absolute_url }}">
              {{ phone.subscriber }}
          </a>
      </h5>
      {% endif %}
      {% if phone.person %}
      <h5><b>Ответственное лицо:</b>
          <a class="btn btn-secondary p-1" href="{{ phone.person.get_absolute_url }}">
              {{ phone.person }}
          </a>
      </h5>
      {% endif %}

  </div>
    {% if phone.description %}
    <div class="card-footer">
        <b>Описание:</b>
        {{ phone.description }}
    </div>
    {% endif %}

    <div class="card-footer m-0 p-0">
        <h5 class="text-center m-0 p-0">Все номера:</h5>
        {% if phone.person %}
        <p class="text-center m-0 p-0">
            <a class="btn btn-light p-0" href="{{ phone.person.get_absolute_url }}"><b>{{ phone.person }}:</b></a>,
        </p>
            {% for phone in phone.person.phones.all %}
                <a class="btn btn-light p-0" href="{{ phone.get_absolute_url }}">{{ phone }}</a>,
            {% endfor %}
        {% endif %}

        {% if phone.subscriber %}
        <p class="text-center m-0 p-0">
            <a class="btn btn-light p-0" href="{{ phone.subscriber.get_absolute_url }}"><b>{{ phone.subscriber }}:</b></a>,
        </p>
            {% for phone in phone.subscriber.phones.all %}
               <a class="btn btn-light p-0" href="{{ phone.get_absolute_url }}">{{ phone }}</a>,
            {% endfor %}
        {% endif %}

      </div>


      <div class="card-footer text-right mx-5 my-0 py-0 pr-5">
            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                править БД<span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'upd_phone' phone.pk %}">править телефон</a>
                <a class="dropdown-item" href="#">удалить телефон</a>
              </div>
            </div>
      </div>



</div>

{% endblock %}