{% extends 'base.html' %}

{% block cards1 %}

 <div class="my-3 card-footer text-center">
            {% if character.checked %}
            <h5 class="bg-success">Проверено</h5>
            {% else %}
            <h5 class="bg-warning">Нужно проверить</h5>
            {% endif %}
            <style type="text/css">
                table {
                    border-collapse: collapse;
                }
                table th,
                table td {
                    padding: 0 3px;
                }
                table tr  {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }

                table tr td:last-child {
                    text-align: center;
                }
                table tbody {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
            </style>
            <table class="m-auto">

                <thead>
                <tr>
                    <th>характеристики</th>
                    <th>значения</th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>ТП наши</td>
                        <td>{{ character.tp_our_num }}</td>
                    </tr>
                    <tr>
                        <td>ТП чужие</td>
                        <td>{{ character.tp_alien_num }}</td>
                    </tr>
                    <tr>
                        <td>НП</td>
                        <td><b>{{ character.villages_num }}</b> : {{ character.villages_names }} </td>
                    </tr>

                    <tr>
                        <td>Население</td>
                        <td> {{ character.population }}</td>
                    </tr>
                    <tr>
                        <td>Протяженность</td>
                        <td>{{ character.length }}</td>
                    </tr>

                    <tr>
                        <td>Социалка</td>
                        {% if character.social_num %}
                        <td><b>{{ character.social_num }} </b>| {{ character.social_names }}</td>
                        {% else %}
                        <td>Социалки нет </td>
                        {% endif %}
                    </tr>

                {% if character.power_winter %}
                <tr>
                    <td>Потребление</td>
                    <td>зима : {{ character.power_winter }} / лето: {{ character.power_summer }} МВт</td>
                </tr>
                {% endif %}


                </tbody>
            </table>
      </div>


{% endblock %}