{% extends 'base.html' %}

{% block cards1 %}
<div class="card">
    <p class="card-header"><span class="px-5"><b>{{ subscriber }}</b></span>
        {% if subscriber.phones.count > 0 %}
            Телефоны:
            {% for phone in subscriber.phones.all %}
            {{ phone }},
            {% endfor %}</p>
        {% endif %}
  <div class="card-body">

      {% for person in subscriber.persons.all %}
        <div>
        <p class="my-0 card-header">
            <a href="{{ person.get_absolute_url }}" class="btn btn-secondary p-1">
            <b>{{ person }}</b>
            </a>
            | {{person.position}}</p>
            <p>Телефоны: {% for phone in person.phones.all %} {{ phone }},  {% endfor %}</p>
        </div>
      {% endfor %}

      {% if subscriber.year_update %}
        <p class="card-footer p-0 m-0 text-right"> Список от {{ subscriber.year_update }} года</p>
      {% else %}
        <p class="card-footer p-0 m-0 text-center bg-danger"> Списков НЕТ</p>
      {% endif %}


        {% if subscriber.description %}
            <p class="card-text"> Информация о потребителе: <br> {{ subscriber.description }}</p>
        {% endif %}
        <div class="card-footer">
            <a href="{% url 'subscriber_ss' subscriber.pk %}" class="btn btn-outline-dark mx-auto d-block pt-3 pb-1">
                 <h4 class="card-title">Подстанции с фидерами потребителя </h4>
            </a>

        </div>
  </div>
</div>




{% endblock %}