{% extends 'base.html' %}

{% block cards1 %}

<div class="card">

    <h4 class="card-header mb-0 pb-0 text-center">
 {% if line.short_name %} <b>{{ line.short_name }}</b> | {% endif %}
        {{ line.name }} <br>
        <hr class="my-0"
            {% if line.voltage.class_voltage == 220 %}
            color="blue"
            {% elif line.voltage.class_voltage == 110 %}
                        color="yellow"
            {% elif line.voltage.class_voltage == 35 %}
                        color="red"
            {% endif %}
        >
        {% if line.full_name %} {{ line.full_name }} <br> {% endif %}
        </h4>
        <div class="card-body mx-5 px-5">
        <h5>Питающие / транзитные ПС:</h5>

            {% for pl in plus %}
                <a href="{{ pl.substation.get_absolute_url }}" class="btn btn-outline-dark mx-auto px-5 mx-5 py-0 my-1">
                    <b>{{ pl.substation }}</b>
                </a> :
                <a href="{{ pl.get_absolute_url }}" class="btn btn-dark mx-auto px-5 mx-5 py-0 my-1">
                    <b> {{ pl.name }}</b>
                </a><br>
            {% endfor %}


            <h5 class="mt-2">Тупиковые  ПС:</h5>

            {% for min in minus %}
                <a href="{{ min.substation.get_absolute_url }}" class="btn btn-outline-dark mx-auto px-5 mx-5 py-0 my-1">
                    <b>{{ min.substation }}</b>
                </a> :
                <a href="{{ min.get_absolute_url }}" class="btn btn-dark mx-auto px-5 mx-5 py-0 my-1">
                    <b> {{ min.name }}</b>
                </a><br>
            {% empty %}
            У {{ line }} нет тупиков
            {% endfor %}

            <hr class="my-1">
            {% if line.management %}
                Управление : {{ line.management }}
                <hr class="my-1">
            {% endif %}

            {% if line.maintenance.count %} Ведение :
                {% for m in line.maintenance.all %} {{ m }} , {% endfor %}
                <hr class="my-1">
            {% endif %}

            {% if line.group %}
                {{ line.group }} участок сл ЛЭП
                <hr class="my-1">
            {% endif %}

            {% if line.subscriber %}
             <a href="{{ line.subscriber.get_absolute_url }}" class="btn btn-outline-secondary mx-auto  py-0"> <b>Владелец: {{ line.subscriber }}</b></a>
            {% endif %}

</b>

            <div class="card-footer text-right py-0">
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split py-0 my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    править БД<span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'upd_line' line.pk %}">изменить ВЛ</a>
                      <a class="dropdown-item" href="{% url 'del_line' line.pk %}">удалить ВЛ</a>
                  </div>
                </div>
            </div>

            <div class="card-footer">
                {% if line.length %}
                <p>Протяженность : {{ line.length }}</p>
                {% endif %}
                {% if line.number_columns %}
                <p>Количество опор : {{ line.number_columns }}</p>
                {% endif %}
                {% if line.description %}
                <p>Примечание : {{ line.description }}</p>
                {% endif %}

            </div>
  </div>

</div>

{% endblock %}

