{% extends 'base.html' %}

{% block cards1 %}
<div class="card">
    <p class="card-header"><span class="px-5"><b>{{ subscriber }}</b></span>
        {% if subscriber.phones.count > 0 %}
        <b>Телефоны:</b>
            {% for phone in subscriber.phones.all %}
        <a class="btn btn-light p-0" href="{{ phone.get_absolute_url }}"><b>{{ phone }}</b></a>,
            {% endfor %}</p>
        {% endif %}
  <div class="card-body">

      {% for person in subscriber.persons.all %}
        <div>
        <p class="my-0 card-header">
            <a href="{{ person.get_absolute_url }}" class="btn btn-secondary p-1">
            <b>{{ person }}</b>
            </a>
            | {{person.position}}</p>
            <p>Телефоны: {% for phone in person.phones.all %}
                <a class="btn btn-light p-0" href="{{ phone.get_absolute_url }}"><b>{{ phone }}</b></a>,

                {% endfor %}</p>
        </div>
      {% endfor %}
<div>
      {% if subscriber.year_update %}
        <p class="card-footer p-0 m-0 text-right"> Список от {{ subscriber.year_update }} года</p>
      {% else %}
        <p class="card-footer p-0 m-0 text-center bg-danger"> Списков НЕТ</p>
      {% endif %}

    <div class="card-footer my-0 py-0 pr-5">
      <div class="text-right my-0 mx-5 py-0 pr-5">
            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                править БД<span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">добавить ответствнное лицо</a>
                <a class="dropdown-item" href="{% url 'add_phone' subscriber.pk %}">добавить телефон организации</a>
                <a class="dropdown-item" href="{% url 'upd_subscriber' subscriber.pk %}">править организацию</a>
                <a class="dropdown-item" href="{% url 'del_subscriber' subscriber.pk %}">удалить организацию</a>
              </div>
            </div>
      </div>
    </div>

</div>

        {% if subscriber.description %}
            <p class="card-text"> Информация о потребителе: <br> {{ subscriber.description }}</p>
        {% endif %}
        <div class="card-footer">
            <a href="{% url 'subscriber_ss' subscriber.pk %}" class="btn btn-outline-dark mx-auto d-block pt-3 pb-1">
                 <h4 class="card-title">Подстанции с фидерами потребителя </h4>
            </a>

        </div>
  </div>
</div>




{% endblock %}