{% extends 'base.html' %}

{% block cards1 %}

<div class="card">
    <h4 class="card-header mb-0 pb-0 text-center"><b>{{ line.short_name }}</b> | {{ line.name }} <br>
        <hr class="my-0"
            {% if line.voltage.class_voltage == 220 %}
            color="blue"
            {% elif line.voltage.class_voltage == 110 %}
                        color="yellow"
            {% elif line.voltage.class_voltage == 35 %}
                        color="red"
            {% endif %}
        >
        {{ line.full_name }} <br></h4>
        <div class="card-body">
        <h5>Питающие ПС:</h5>
        {% for section in line.section.all %}
            {% if not section.blind %}
                <a href="{{ section.substation.get_absolute_url }}" class="btn btn-outline-dark mx-auto  py-0"> <b>ПС {{ section.substation }}</b></a> :
                <a href="{{ section.get_absolute_url }}" class="btn btn-dark mx-auto  py-0"> <b> {{ section.name }}</b></a> <br>
            {% endif %}
        {% endfor %}


            <h5 class="mt-2">Тупиковые  ПС:</h5>
            {% for section in line.section.all %}
                {% if section.blind %}
                    <a href="{{ section.substation.get_absolute_url }}" class="btn btn-outline-secondary mx-auto  py-0"> <b>ПС {{ section.substation }}</b></a> :
                    <a href="{{ section.get_absolute_url }}" class="btn btn-secondary mx-auto  py-0"> <b> {{ section.name }}</b></a> <br>
                {% endif %}
            {% empty %}
            У {{ line }} нет тупиков
            {% endfor %} <br>
<b>
            <hr class="my-0">
            {% if line.management %} Управление : {{ line.management }} {% endif %}
            <hr class="my-0">
            {% if line.maintenance.count %} Ведение :
            {% for m in line.maintenance.all %} {{ m }} , {% endfor %}
             {% endif %}
             <hr class="my-0">
            {% if line.subscriber %}
             <a href="{{ line.subscriber.get_absolute_url }}" class="btn btn-outline-secondary mx-auto  py-0"> <b>Владелец: {{ line.subscriber }}</b></a>
            {% endif %}
</b>

            <div class="card-footer text-right py-0">
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split py-0 my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    править БД<span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">изменить</a>
                    <a class="dropdown-item" href="#">удалить</a>
                  </div>
                </div>
            </div>

            <div class="card-footer text-right">
                {% if line.length %}
                <p>Протяженность : {{ line.length }}</p>
                {% endif %}
                {% if line.number_columns %}
                <p>Количество опор : {{ line.number_columns }}</p>
                {% endif %}
                {% if line.description %}
                <p>Примечание : {{ line.description }}</p>
                {% endif %}

            </div>







  </div>

</div>

{% endblock %}
