{% extends 'base.html' %}
 {% block first_section %}



      <div class="row mt-5">
        <div class="col-12 col-lg-10 offset-lg-2 m-auto">
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center">
                    <div class="btn-group-vertical">
                        <a href="{% url 'section_ps' ps.pk %}" type="button" class="btn btn-dark">Секции</a>
                        <a href="#" type="button" class="btn btn-secondary">Абоненты</a>
                        <a href="#" type="button" class="btn btn-dark">РЭСы</a>
                        <a href="{% url 'substation_f' ps.pk %}" type="button" class="btn btn-secondary">Фидера</a>
                    </div>

                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <h4 class="bg-light"> ПС № {{ ps.number }} {{ ps }} {% include 'incl/_voltage_full.html' %} кВ</h4>
                    <a href="{% url 'group' ps.group.pk %}" class="btn btn-dark"><h4> <b>Группа:</b> {{ ps.group }}</h4></a>
                    {% if ps.location %}
                    <h4> <b>Расположение:</b> {{ ps.location }}</h4>
                    {% endif %}
                    {% if ps.description %}
                    <h4><b>О подстанции:</b> {{ ps.description }} </h4>
                    {% endif %}
{% comment %}
                    <br>{{ ps.sections.all }} <br> {{ ps.feeders.all }}
{% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


{% endblock %}
