{% extends 'base.html' %}

 {% block first_section %}



      <div class="row mt-5">
        <div class="col-12 col-lg-10 offset-lg-2 m-auto">
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center">
                    <div class="btn-group-vertical">
                        <a href="{% url 'section_ps' ps.pk %}" type="button" class="btn btn-dark">Секции</a>
                        <a href="{% url 'subscriber_ps' ps.pk %}" type="button" class="btn btn-secondary">Абоненты</a>
                        <a href="#" type="button" class="btn btn-dark">РЭСы</a>
                        <a href="{% url 'substation_f' ps.pk %}" type="button" class="btn btn-secondary">Фидера</a>
                    </div>

                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <h4 class="bg-light">
                        ПС № {{ ps.number }} {{ ps }} {% include 'incl/_voltage_full.html' %} кВ
                    </h4>
                    <a href="{% url 'group' ps.group.pk %}" class="btn btn-dark"><h4> <b>Группа:</b> {{ ps.group }}</h4></a>
                    {% if ps.location %}
                    <h4> <b>Расположение:</b> {{ ps.location }}</h4>
                    {% endif %}

          <div class="card-footer text-right">
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    добавить/изменить<span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'add_feeder' ps.pk %}">добавить фидер или ВЛ на ПС</a>
                    <a class="dropdown-item" href="#">добавить секцию на ПС</a>
                    <a class="dropdown-item" href="#">Редактировать ПС</a>
                  </div>
                </div>
          </div>


                    {% if ps.description %}
                    <h4><b>О подстанции:</b> {{ ps.description }} </h4>
                    {% endif %}


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="card">
          <div class="card-header">
            <b>Список фидеров:</b>
          </div>
          <div class="card-body">
            {% for feeder in ps.feeders.all %}
              {% if feeder.section.voltage < 35 %}
            <a href="{{ feeder.get_absolute_url }}" type="button" class="btn btn-secondary px-3 py-0 m-1 ">{{ feeder.name }}</a>,
              {% endif %}
            {% endfor %}

          </div>
        </div>

{% endblock %}
