{% extends 'base.html' %}

{% block search %}
    <div class="mb-5">
    {% include 'incl/_searcher_persons.html' %}

<h3 class="text-center">Ответственные лица</h3>
{% if flag_search %}
            {% if persons.count %}
                <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, и я нашел {{ persons.count }}:</h3>
            {% else %}
                <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, но он где-то потерялся :((</h3>
            {% endif %}
{% endif %}

    </div>
{% endblock %}


{% block cards1 %}

    {% for person in persons %}
         <a href="{{ person.get_absolute_url }}" type="button" class="m-1 btn btn-secondary">{{ person }}</a>
    {% endfor %}

{% endblock %}