{% extends 'base.html' %}


{% block search %}
    <div class="mb-5">

    {% include 'incl/_searcher_phones.html' %}


<h3 class="text-center">Телефоны</h3>
{% if flag_search %}
            {% if phones.count %}
                <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, и я нашел {{ page_obj.paginator.count }}:</h3>
            {% else %}
                <h3 class="text-center">Вы хотели: <span class="text-warning">{{ flag_search }}</span>, но у меня нету :((</h3>
            {% endif %}
{% endif %}

    </div>
{% endblock %}

{% block cards1 %}
    <section class="my-5 py-3">
      <div class="row mb-0">
        {% for phone in phones %}
            <div class="col-6 col-md-6 col-lg-3 mb-2">
                <div class="card pt-0 text-center p-0 m-0">

                    <div class="card-body p-0 m-0 ">
                        <a href="{{ phone.get_absolute_url }}" class="btn btn-light mx-auto d-block">
                            <p class="card-text mb-0">{{ phone }}</p>
                        </a>
                    </div>
                    {% if phone.subscriber %}
                    <div class="card-body p-0 m-0 ">
                        <a href="{{ phone.subscriber.get_absolute_url }}" class="btn btn-outline-dark mx-auto d-block py-0 my-0">
                            <p class="card-text">
                            {% if phone.subscriber.short_name %}
                            {{ phone.subscriber.short_name }}
                            {% else %}
                            {{ phone.subscriber }}
                            {% endif %}
                            </p>
                        </a>
                    </div>
                    {% endif %}
                    {% if phone.person %}
                    <div class="card-body p-0 m-0 ">
                        <a href="{{ phone.person.get_absolute_url }}" class="btn btn-secondary mx-auto d-block py-0 my-0">
                            <p class="card-text">{{ phone.person }}</p>
                        </a>
                    </div>
                    {% endif %}
                    {% if phone.substation %}
                    <div class="card-body p-0 m-0 ">
                        <a href="{{ phone.substation.get_absolute_url }}" class="btn btn-dark mx-auto d-block py-0 my-0">
                            <p class="card-text">ПС {{ phone.substation.number }} {{ phone.substation }}</p>
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>
    {% endfor %}
      </div>
    </section>


{% endblock %}

{% block paginator %}
{% include 'incl/_block_paginator_long.html' %}
{% endblock %}