{% extends 'base.html' %}

{% block cards1 %}

<div class="d-flex justify-content-center my-3 p-1">
<a class="btn btn-outline-secondary" href="{{ the_substation.get_absolute_url }}">
<h2 class="text-center m-0">{{ the_substation }}</h2>
</a>
</div>
{% for section in sections %}

 <div class="card mb-2">
  <a
          {% if section.voltage.class_voltage == 6 %}
                    class="btn btn-outline-dark text-success"
          {% elif section.voltage.class_voltage == 10 %}
                    class="btn btn-outline-dark text-primary"
          {% elif section.voltage.class_voltage == 35 %}
                    class="btn btn-outline-dark text-danger"
          {% elif section.voltage.class_voltage == 110 %}
                    class="btn btn-outline-dark text-warning"
          {% endif %}


          href="{{ section.get_absolute_url }}">
   <h5 class="card-header p-1">{{ section }} </h5>
  </a>
   <div class="card-body p-1">

     <p class="card-text"><b class="card-title"></b>
      {% for feeder in section.feeders.all %}
      <a href="{{ feeder.get_absolute_url }}" class="btn btn-secondary py-1">{{ feeder.name }} </a>
      {% endfor %}
      {% for line in lines %}
      <a href="{{ line.get_absolute_url }}" class="btn btn-secondary py-1">{{ line.short_name }} | {{ line.name }} </a>
      {% endfor %}
     </p>
   </div>
 </div>

{% endfor %}
<br>





{% endblock %}