{% extends 'base.html' %}

{% block title %}
{{ block.super }} | Организации | поиск
{% endblock %}


{% block search %}
    <div class="mb-5">
    {% include 'incl/_searcher_subscribers.html' %}

        {% if flag_search %}

            {% if subscribers.count > 0 %}
                <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, и я нашел {{ page_obj.paginator.count }}:</h3>
            {% else %}
                <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, но он где-то потерялся :((</h3>
            {% endif %}

        {% else %}
            <h3 class="text-center">Все абоненты:</h3>
        {% endif %}

    </div>
{% endblock %}



{% block cards1 %}


    {% for subscriber in subscribers.all %}
         <a href="{{ subscriber.get_absolute_url }}" type="button"

            {% if subscriber.pk == 201 %}
            class="m-1 btn btn-outline-primary"
            {% elif subscriber.region.pk != 2 %}
            class="m-1 btn btn-light text-warning"
            {% elif subscriber.year_update == 1 %}
            class="m-1 btn btn-dark text-danger"
            {% elif not subscriber.year_update %}
            class="m-1 btn btn-secondary"
            {% elif current_year < subscriber.year_update %}
            class="m-1 btn btn-light text-success border-success font-weight-bold"
            {% elif current_year == subscriber.year_update %}
            class="m-1 btn btn-light text-success border-success"
            {% elif current_year|add:-1 == subscriber.year_update %}
            class="m-1 btn btn-light border border-danger"
            {% elif current_year|add:-2 == subscriber.year_update %}
             class="m-1 btn btn-light border border-danger text-danger"
            {% elif current_year|add:-2 > subscriber.year_update %}
             class="m-1 btn btn-danger"
            {% endif %}
>{{ subscriber }} {% if subscriber.year_update %} {% if subscriber.year_update != 1 %} | {{ subscriber.year_update }} {% endif %} {% endif %}</a>
    {% endfor %}

{% endblock %}

{% block paginator %}
{% include 'incl/_block_paginator_long.html' %}
{% endblock %}