{% extends 'base.html' %}

{% block title %}
{{ block.super }} | Подстанции

{% if flag_voltages %} {{ substations.0.voltage_h }}
{% elif flag_group %} | {{ substations.0.group }} группа {% endif %}
{% endblock %}

{% block search %}
    {% if not flag_group and not flag_voltages %}
        <div class="mb-5">
        {% include 'incl/_searcher_substations.html' %}

            {% if flag_search %}
                {% if substations.count > 0 %}
                    <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, и я нашел {{ page_obj.paginator.count }}:</h3>
                {% else %}
                    <h3 class="text-center">Вы искали: <span class="text-warning">{{ flag_search }}</span>, но он где-то потерялся :((</h3>
                {% endif %}
            {% elif not flag_voltages %}
                 <h3 class="text-center">Все подстанции:</h3>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}


{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-left border-right border-dark py-0">
  <p class="navbar-brand mr-4 font-weight-bold py-0 my-0">Группы: </p>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav1">
    <ul class="navbar-nav col-10">
        {% for group in groups %}
         {% if group.ours %}
          <li class="nav-item">
              {% if group.get_absolute_url == request.path %}
              <a class="btn btn-dark py-0" href="{% url 'group' group.pk %}"><b>{{ group }}</b></a>
              {% else %}
              <a class="btn btn-light py-0" href="{% url 'group' group.pk %}"><b>{{ group }}</b></a>
              {% endif %}
          </li>
        {% endif %}
        {% endfor %}

        {% for group in groups %}
         {% if not group.ours %}
          <li class="nav-item">
            {% if group.get_absolute_url == request.path %}
              <a class="btn btn-secondary py-0" href="{% url 'group' group.pk %}">{{ group }}</a>
              {% else %}
              <a class="btn btn-light py-0" href="{% url 'group' group.pk %}">{{ group }}</a>
              {% endif %}
          </li>
        {% endif %}
        {% endfor %}

    </ul>
  </div>
</nav>
{% endblock %}

{% block menu2 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark py-0">
  <p class="navbar-brand mr-4 font-weight-bold py-0 my-0">Напряжение: </p>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav2">
    <ul class="navbar-nav col-10">
        {% for volt in voltages %}
          <li class="nav-item">
              {% if volt.get_absolute_url == request.path %}
              <a class="btn btn-dark py-0 mx-3" href="{% url 'voltage' volt.pk %}"><b>{{ volt }}</b></a>
              {% else %}
              <a class="btn btn-light py-0 mx-3" href="{% url 'voltage' volt.pk %}"><b>{{ volt }}</b></a>
              {% endif %}
         </li>
        {% endfor %}

    </ul>
  </div>
</nav>
{% endblock %}


{% block cards1 %}

    <section class="my-5 py-3">
      <div class="row mb-0">

          {% for ps in substations %}
            <div class="col-6 col-md-6 col-lg-3">


                <div class="card pt-0 text-center p-0 mt-0 mb-3">
                    <div class="card-body p-0 m-0 ">

                        <a href="{{ ps.get_absolute_url }}"
                           {% if ps.voltage_h.class_voltage == 220 %}
                           class=" btn btn-outline-dark mx-auto d-block border border-primary"
                           {% elif ps.voltage_h.class_voltage == 110 %}
                            class=" btn btn-outline-dark mx-auto d-block border border-warning"
                           {% elif ps.voltage_h.class_voltage == 35 %}
                           class=" btn btn-outline-dark mx-auto d-block border border-danger"
                           {% else %}
                           class=" btn btn-outline-dark mx-auto d-block"
                           {% endif %}
                        >

                            <p class="card-text m-0 py-1">

                                <b>{{ ps.number }}  {{ ps.name }}</b></p>
                          <p class="card-text my-0 ">{% include 'incl/_voltage_full.html' %}</p>
                        </a>
                    </div>

                    {% if not flag_group %}

                    <div class="card-body p-0 m-0 ">
                        <a href="{{ ps.group.get_absolute_url }}" class=" btn btn-outline-secondary mx-auto d-block py-0">
                            <p class="card-text">{{ ps.group }}</p>
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>

          {% endfor %}

      </div>
    </section>
{% endblock %}

{% block paginator %}
{% include 'incl/_block_paginator_long.html' %}
{% endblock %}
