{% extends 'base.html' %}

{% block cards1 %}

<h2>{{ the_subscriber }}</h2>


{% for ps in substations.distinct %}

<div class="card">
  <div class="card-header">
      <a href="{{ ps.get_absolute_url }}" class="btn btn-dark">{{ ps }}</a>

  </div>
  <div class="card-body">

      <p class="card-text"><b>Фидеры</b>
        {% for feeder in ps.feeders.all %}

        {% if feeder.subscriber == the_subscriber %}
        <a href="{{ feeder.get_absolute_url }}" class="btn btn-secondary">{{ feeder.name }}</a> ,
        {% endif %}

        {% endfor %}
    </p>
  </div>
</div>




{% endfor %}


{% endblock %}