body {
    background-color: #FFFAFA;
}

.user_bar {
    z-index: 999999;
    position: fixed;
    left: 5px;
    top: 5px;
    opacity: 0.6;
}

.user_bar:hover {
    opacity: 1;
}

.side_bar_menu {
    z-index: 999999;
    position: fixed;
    right: 10px;
    top: 400px;
}

.right_phone_bar {
    position: fixed;
    right: 10px;
    top: 40px;
}

@media screen and (max-width: 1400px) {
    .side_bar_menu {
        visibility: hidden;
        display: none;
    }
}


.side_bar_menu li {
    opacity: 0.3;
 }
.side_bar_menu li:hover { opacity: 1; }

.vl-border {
    border-width: 2px;
}


.phone_bar {
    z-index: 99;
    position: fixed;
    left: 5px;
    top: 95px;
    width: 300px;

}

big-phone-parent {
    width: 100%;
}

.display_none {
    display: none !important
}

.test {
    color: red;
}

.border-phones {
    border-radius: 12px;
    border: 5px solid #000066;

}

.reset-everybody {
    z-index: 100;
    position: fixed;
    left: 5px;
    top: 50px;
    width: 270px;
}

@media screen and (max-width: 1700px) {
    .phone_bar {
		width: 270px;
    }

    .reset-everybody {
		width: 240px;
    }
}

@media screen and (max-width: 1600px) {
    .phone_bar {
        visibility: hidden;
        display: none;
    }

    .reset-everybody {
        visibility: hidden;
        display: none;
    }
}



/* ---- */

.plus-phone-drop {
    /* border: 1px solid black; */
    border-radius: 6px;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.drag-element {
    color: green;
}


.drag-phone {
    color: blue;
}

.pe-none {
    pointer-events: none;
}


.right-tel {
    padding-bottom: 0;
    padding-top: 0;
}