{% extends 'base.html' %}

{% block title %}
{{ block.super }} | ПС {{ ps }}
{% endblock %}

 {% block first_section %}
      <div class="row mt-5">
        <div class="col-12 col-lg-10 offset-lg-2 m-auto">
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">

                <div class="col-12 col-md-3 col-lg-3 col-lx-2 d-flex row m-auto">
                    <a href="{% url 'subscriber_ps' ps.pk %}" type="button" class="col-6 col-md-12 btn btn-secondary border border-dark py-2">
                        <b>Абоненты подрбно</b>
                    </a>
                    <a href="{% url 'substation_f' ps.pk %}" type="button" class="col-6 col-md-12 btn btn-secondary border border-dark py-2">
                        <b>Фидеры подробно</b>
                    </a>
                </div>

                <div class="col-12 col-md-9 col-lg-9 col-lx-10">
                    <h4 class="bg-light text-center">
                        ПС № {{ ps.number }} {{ ps }} {% include 'incl/_voltage_full.html' %} кВ
                    </h4>
                    <a href="{% url 'group' ps.group.pk %}" class="btn btn-dark m-1"><h6> <b>Группа:</b> {{ ps.group }}</h6></a>
                    {% if ps.alien and ps.owner %}
                    <a href="{% url 'subscriber' ps.owner.pk %}" class="btn btn-dark m-1"><h6>Организация: {{ ps.owner }}</h6></a>
                     {% endif %}
                    {% if ps.location %}
                    <p> <b>Расположение:</b> {{ ps.location|linebreaks }}</p>
                    {% endif %}

                  <div class="card-footer text-right">
                        <div class="btn-group dropup">
                          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            править БД<span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'add_section' ps.pk %}">добавить секцию на ПС</a>
                            <a class="dropdown-item" href="{% url 'add_feeder_from_ps' ps.pk %}">добавить фидер на ПС</a>
                            <a class="dropdown-item" href="{% url 'add_phone_ps' ps.pk %}">добавить телефон на ПС</a>
                            <a class="dropdown-item" href="{% url 'upd_substation' ps.pk %}">редактировать ПС</a>
                          </div>
                        </div>
                  </div>

                </div>
              </div>
            </div>

            {% if ps.phones.count %}
                <h5 class="text-center p-0 m-0"> телефоны:
                    {% for phone in ps.phones.all %}
                    <a class="btn btn-light p-0" href="{{ phone.get_absolute_url }}"><b>{{ phone }}</b></a>,
                     {% endfor %}
                </h5>
            {% endif %}
          </div>

        </div>
      </div>

        <div class="card">

          <div class="card-header pt-2 pb-0">
            <b>Список секций:</b>
          </div>

          <div class="card-body py-1">
            {% for section in ps.sections.all %}

                <a href="{{ section.get_absolute_url }}" type="button"
                    {% if section.voltage.class_voltage < 8 %}
                        class="btn btn-outline-dark text-success px-2 py-0"
                    {% elif section.voltage.class_voltage < 20 %}
                        class="btn btn-outline-dark text-primary px-2 py-0"
                    {% elif section.voltage.class_voltage < 40 %}
                        class="btn btn-outline-dark text-danger px-2 py-0"
                    {% elif section.voltage.class_voltage < 120 %}
                         class="btn btn-outline-dark text-warning px-2 py-0"
                    {% else %}
                        class="btn btn-outline-dark px-2 py-0"
                    {% endif %}
                    >{{ section.name }}
              {% if section.from_T != section.number %}
              (T-{{ section.from_T }})
              {% endif %}
                </a>

            {% endfor %}<br>

            </div>

          <div class="card-header pt-2 pb-0">
            <b>Список фидеров:</b>
          </div>

      <div class="card-body py-1">
          {% for section in ps.sections.all %}
          {% if section.voltage.class_voltage < 10 %}
              {% for feeder in section.feeders.all %}
                  <a href="{{ feeder.get_absolute_url }}" type="button" class="{{ feeder_6 }}">
                      {% include 'incl/_feeder_marker.html' %}
                  </a>
              {% endfor %}
          {% endif %}
          {% endfor %}
            <br>
          {% for section in ps.sections.all %}
          {% if section.voltage.class_voltage > 8 and section.voltage.class_voltage < 30 %}
              {% for feeder in section.feeders.all %}
                  <a href="{{ feeder.get_absolute_url }}" type="button" class="{{ feeder_10 }}">
                      {% include 'incl/_feeder_marker.html' %}
                  </a>
              {% endfor %}
          {% endif %}
          {% endfor %}
      </div>

        <div class="card pb-3">

        {% if lines.exists %}
          <div class="card-header pt-2 pb-0">
            <b>Список ВЛ:</b>
          </div>
            <div class="card-body py-1">
                {% for line in lines %}
                    {% if line.voltage.class_voltage < 40 %}
                        <a href="{{ line.get_absolute_url }}" class="{{ line_35 }}">
                            {{ line.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            <br>
                {% for line in lines %}
                    {% if line.voltage.class_voltage < 120 and line.voltage.class_voltage > 40 %}
                        <a href="{{ line.get_absolute_url }}"  class="{{ line_110 }}">
                            {{ line.name }}
                        </a>
                    {% endif %}
                {% endfor %}
               {% endif %}

            </div>
          </div>
        </div>

          <div class="card mb-4">
              {% if not ps.alien %}
            <div class="card-body px-4">


                <h5 class="text-center">Сумма по ПС - работает, если данные по фидерам забиты верно</h5>

                <div class="my-3 card-footer text-center">
            <style type="text/css">
                table {
                    border-collapse: collapse;
                }
                table th,
                table td {
                    padding: 0 3px;
                }
                table tr  {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }

                table tr td:last-child {
                    text-align: center;
                }
                table tbody {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
            </style>
            <table class="m-auto">
               <thead>
                <tr>
                    <th>характеристики</th>
                    <th>значения</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ТП наши</td>
                        <td> наши {{ ps.tp_ours_sum }} / <span class="text-secondary">чужие {{ ps.tp_alien_sum }}</span></td>
                    </tr>
                    <tr>
                        <td>НП</td>
                        <td>{{ ps.villages_sum }}</td>
                    </tr>

                    <tr>
                        <td>Население</td>
                        <td> {{ ps.population_sum }}</td>
                    </tr>

                    <tr>
                        <td>Точки поставки</td>
                        <td>{{ ps.points_sum }}</td>
                    </tr>

                    <tr>
                        <td>Протяженность</td>
                        <td>{{ ps.length_sum|floatformat:3 }} км</td>
                    </tr>

                    <tr>
                        <td>Социалка</td>
                        <td>{{ ps.social_sum }} </td>

                    </tr>



                    <tr>
                        <td>Потребление</td>
                        <td><span class="bg-primary">зима : {{ ps.power_winter_sum|floatformat:3 }}</span> /
                            <span class="bg-warning">лето: {{ ps.power_summer_sum|floatformat:3 }}</span> МВт</td>
                    </tr>
                </tbody>
            </table>
            </div>

            </div>
              {% endif %}

          <div class="card mb-4">
            <div class="card-body px-4">
                    {% if ps.description|linebreaks %}
                    <p><b>О подстанции:</b> {{ ps.description|linebreaks  }} </p>
                    {% endif %}
            </div>
          </div>
          </div>

{% endblock %}
