{% extends 'base.html' %}

{% block title %}
{{ block.super }} | {{ the_subscriber }} | Подстанции с фидерами
{% endblock %}

{% block cards1 %}

<h2 class="text-center m-1">{{ the_subscriber }}</h2>


{% for ps in substations.distinct %}

<div class="card">
  <div class="mx-auto py-1">
      <a href="{{ ps.get_absolute_url }}" class="btn btn-dark">{{ ps }}</a>

  </div>
  <div class="card-body">

      <p class="card-text text-center m-0">
        {% for feeder in ps.feeders.all %}

        {% if feeder.subscriber == the_subscriber %}

        <a href="{{ feeder.get_absolute_url }}"
           {% if feeder.section.voltage.class_voltage == 6 %}
              class="btn btn-success py-0 my-1"
           {% elif feeder.section.voltage.class_voltage == 10 %}
              class="btn btn-primary py-0 my-1"
           {% else %}
              class="btn btn-secondary py-0 my-1"
           {% endif %}


        >{{ feeder.name }}</a>

        {% endif %}

        {% endfor %}
    </p>
  </div>
</div>




{% endfor %}


{% endblock %}