      <li class="nav-item active">
          <a class="nav-link" href="{% url 'substations' %}" data-test="navlink"><b> Подстанции </b></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'lines' %}" data-test="navlink"><b> Линии </b></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'sfeeders' %}" data-test="navlink"><b> Фидеры </b></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'subscribers' %}" data-test="navlink"><b> Организации </b></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'persons' %}" data-test="navlink"><b> Люди </b></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'phones' %}" data-test="navlink"><b> Телефоны </b></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'map' %}" data-test="navlink"><b> L-MAP </b></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'y-map' %}" data-test="navlink"><b> Y-MAP </b></a>
      </li>