
{% comment %}
<ul class="navbar-nav col-2 justify-content-end">

    <li class="nav-item active">
      <div class="dropdown open ">
        <button class="btn btn-light font-weight-bold dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{ request.user }}
        </button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
          <a href="{% url 'out' %}" class="dropdown-item nav-link font-weight-bold  text-center"><span class="text-dark ">Выход</span></a>
        </div>
      </div>
    </li>
</ul>
{% endcomment %}

<div class="btn-group dropright">
        <button class="btn btn-light font-weight-bold dropdown-toggle py-0" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{ request.user }}
        </button>
        <div class="dropdown-menu p-0 m-0" aria-labelledby="dropdownMenu2">
          <a href="{% url 'out' %}" class="dropdown-item nav-link font-weight-bold p-0 m-0 text-center"><span class="text-dark ">Выход</span></a>
        </div>
</div>